
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Excel Hesabatları</h2>
<div class="form-group">
    <a href="/Report/StaticsReport/" class="btn btn-info">Statik Hesabat</a>
</div>
<div class="form-group">
    <a href="/Report/ContactsReport/" class="btn btn-primary">Mesaj Hesabatı</a>
</div>
<div class="form-group">
    <a href="/Report/NewsReport/" class="btn btn-warning">Məlumat Hesabatı</a>
</div>