<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/Index/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Xidmətlərimiz</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Team/Index/">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Əməkdaşlarımız</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Grafiklər</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/tables/basic-table.html">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Statistikalar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/News/Index">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Məlumatlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Ünvan məlumatları</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Image/Index">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Şəkillər</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/mdi.html">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Index/">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Admin əməliyyatları</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../documentation/documentation.html">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">Çıxış</span>
            </a>
        </li>
    </ul>
</nav>