                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © Abbaszadeh <a href="https://www.zadexantech.com/" target="_blank">zadexantech.com</a> 2022</span>
                         <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://www.bootstrapdash.com/" target="_blank">  Bootstrap templates istifadə edilib  </a></span>
                    </div>
                </footer>