@using EntityLayer.Entities
@model List<About>

<div class="about" id="about">
	<div class="container">
		<h3 class="tittle">Haqqımızda</h3>
		<p class="heading-btm-w3ls">Yüksək texnoloji üsullarla tam sürətli & keyfiyyətli məhsullar</p>
		<div id="horizontalTab">
			<ul class="resp-tabs-list">
				<li>Tarix</li>
				<li>Hədəf</li>
				<li>Müştəri</li>
			</ul>
			@foreach (var item in Model)
			{
				<div class="resp-tabs-container">
					<div class="tab1">
						<p class="para-w3-agileits">@item.AboutHistory</p>
					</div>
					<div class="tab2">
						<p class="para-w3-agileits">@item.AboutUs</p>
					</div>
					<div class="tab3">
						<div class="clients">
							<ul>
								<li><img src="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/web/images/c1.png" alt="clients" class="img-responsive" /><span>Orxan Zeynallı</span></li>
								<li><img src="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/web/images/c2.png" alt="clients" class="img-responsive" /><span>Natalie Barnes</span></li>
								<li><img src="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/web/images/c3.png" alt="clients" class="img-responsive" /><span>İvan İvaneç</span></li>
							</ul>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</div>