@using EntityLayer.Entities
@model List<Team>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Əməkdaşlarımız</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Şəkil</th>
                            <th hidden>#</th>
                            <th>Ad</th>
                            <th>Vəzifə</th>
                            <th>Əməliyyatlar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            string imgurl = "/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/images/faces/face";
                            string jpg = ".jpg";
                            <tr>
                                <td class="py-1">
                                    <img src="@imgurl@item.TeamID@jpg" alt="image" />
                                </td>
                                <td hidden>@item.TeamID</td>
                                <td>@item.PersonName</td>
                                <td>@item.Title</td>
                                <td><a href="/Team/DeleteTeam/@item.TeamID" class="btn btn-danger">Sil</a> <a href="/Team/EditTeam/@item.TeamID" class="btn btn-success">Dəyişdir</a></td>
                            </tr>
                        }
 
                    </tbody>
                </table>
                <a href="/Team/AddTeam/" class="btn btn-info">Yeni Əməkdaş Girişi</a>
            </div>
        </div>
    </div>
</div>


