@using EntityLayer.Entities
@model List<Address>

<h3 class="tittle">Əlaqə</h3>
<p class="heading-btm-w3ls">Ən qısa müddət ərzində sizə geri dönüş mütləq edirik.</p>
<div class="col-md-3 contact-left">
    <h4>Bizim ünvan</h4>

@foreach (var item in Model)
{
    <p>@item.Description1</p>
    <p>@item.Description2</p>
    <p>@item.Description3</p>
    <h4>Telefon</h4>
    <p>@item.Description4</p>
}
</div>