@model AgricultureUI.Models.ServiceAddViewModel
@{
    ViewData["Title"] = "AddService";
}

<h1>Yeni Xidmet Girisi</h1>

<form method="post">
    <div class="form-group">
        @Html.Label("Başlıq")
        <span asp-validation-for="Title" class="text-danger"></span>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
    </div>
    <div class="form-group">
        @Html.Label("Şəkil")
        <span asp-validation-for="Image" class="text-danger"></span>

        <input type="text" asp-for="Image" class="form-control"/>
        <br />
    </div>
    <div class="form-group">
        @Html.Label("Açıqlama")
        <span asp-validation-for="Description" class="text-danger"></span>
 
        <input type="text" asp-for="Description" class="form-control"/>
        <br />
    </div>
    <button class="btn btn-outline-info">Əlavə et</button>
</form>