
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Admin Giriş</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="~/snow-login-form-starter/css/style.css" type="text/css" media="all" />
</head>

<body>
	<!-- login form -->
	<section class="w3l-login">
		<div class="overlay">
			<div class="wrapper">
				<div class="logo">
					<a class="brand-logo" href="index.html">Admin Giriş form</a>
				</div>
				<div class="form-section">
					<h3>Giriş</h3>
					<form action="#" method="post" class="signin-form">
						<div class="form-input">
							<input type="text" name="Username" placeholder="İstifadəçi" required="" autofocus>
						</div>
						<div class="form-input">
							<input type="password" name="password" placeholder="Şifrə" required="">
						</div>
						<label class="check-remaind">
							<input type="checkbox">
							<span class="checkmark"></span>
							<p class="remember">Xatırla Məni</p>
						</label>
						<button type="submit" class="btn btn-primary theme-button mt-4">Daxil ol</button>
						<div class="new-signup">
							<a href="#reload" class="signuplink">İstifadəçi adını vəya Şifrəni unutmusan?</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>

		<!-- copyright -->
		<div class="copy-right">
			<p>&copy; 2022 Abbaszadeh All rights reserved | Design by <a href="http://zadexantech.com/" target="_blank">Zadexantech</a></p>
		</div>
		<!-- //copyright -->
	</section>

	<!-- /login form -->
</body>

</html>
